<section class="container">

	<div  class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="separate-border" >
				<span class="text-middle header-font">Powiadomienia</span>
			</div>

			<div ng-if="notifications.length == 0" class="alert alert-danger" role="alert">Nie masz nowych powiadomień</div>

			<div ng-if="notifications.length > 0" ng-repeat="notify in notifications | orderBy: '-created_date'" class="case">
				<div class="case-heading">
					<em class="text-muted">{{notify.created_date | date:'shortTime' }}, {{notify.created_date | date:'fullDate' }}</em>
					<i ng-click="setNotifyFalse(notify._id, notify.read)" class="fa fa-times pull-right fa-1x delete-notify-icon" aria-hidden="true"></i>
				</div>
				<div class="case-body text-center">
					<p>
						<a class="link-success" href="#/userProfile/{{notify.username}}">{{notify.username | shortenEmail}}</a> {{notify.text}} <a class="link-success" href="#/jam/{{notify.jamId}}">{{notify.jamTitle}}</a>
					</p>
				</div>
			</div>
		</div>
	</div>

</section>


