header.addJam-background
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/2.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    min-height: 350px;
}

.addJam-background h1
{
    text-transform: uppercase;
        border-radius: 2%;
    text-align: center;
    border: solid 7px white;
    padding: 7px 7px;
    color: white;
    font-weight: 700;
    font-size: 55px;
}

@media only screen and (max-width: 530px) {
    .addJam-background h1
    {
        font-size: 30px;
    }
    header.addJam-background
    {

        min-height: 300px;
    }
}


/*@media only screen and (max-width: 470px) {
    .addJam-background h1
    {
        font-size: 23px;
    }
    header.addJam-background
    {

        min-height: 250px;
    }

}*/


/*header.addJam-background
{
	display: flex;
	align-items: center;
	justify-content: center;
    background-image: url('../img/2.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
    min-height: 350px;
}

.addJam-background h1
{
    text-transform: uppercase;
    border: solid 7px white;
    padding: 7px 7px;
    color: white;
    font-weight: 700;
    font-size: 55px;
}*/
