header.jam-background
{
	display: flex;
	align-items: center;
	justify-content: center;
    background-image: url('../img/jamTitle10.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
	min-height: 350px;
}




.jam-background h1
{
    text-transform: uppercase;
        border-radius: 2%;
    border: solid 7px white;
    text-align: center;
    padding: 7px 7px;
    color: white;
    font-weight: 700;
    font-size: 55px;
}

@media only screen and (max-width: 780px) {
    .jam-background h1
    {
        font-size: 35px;
    }
    header.jam-background
    {

        min-height: 300px;
    }

}


@media only screen and (max-width: 470px) {
    .jam-background h1
    {
        font-size: 15px;
        border: solid 4px white;
    }
    header.jam-background
    {

        min-height: 250px;
    }

}


/*header.jam-background
{
	display: flex;
	align-items: center;
	justify-content: center;
    background-image: url('../img/jamTitle10.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 70%;
    background-attachment: fixed;
    overflow: hidden;
	min-height: 350px;
}



.jam-background h1
{
    text-transform: uppercase;
    border: solid 7px white;
    padding: 7px 7px;
    color: white;
    font-weight: 700;
    font-size: 55px;
}
*/





.jam-head
{
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ff3333;
}

.jam-text
{
	text-align: justify;
}


.jamDetails
{
	min-height: 300px;
}


.panel {
	position:relative;
	
}


.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}


.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

.modal-header {
	text-align: center;
	text-transform: uppercase;
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background: #1B78B2;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}