/*parallax-box css //////////////////////////////////////////////////////////////////////////////////////////////*/

.parallax-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('../img/back.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}


.text-under-logo
{
    text-align: center;
    color: #cccccc;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 20px;
}

.logo
{
    font-size: 70px;
    color: #cccccc;
    font-weight: 700
}

@media only screen and (max-width: 510px) {
    .text-under-logo
    {

        text-align: center;
        font-size: 15px;

    }

    .logo
    {
        font-size: 35px;

    }
}


/*Photo-links css //////////////////////////////////////////////////////////////////////////////////////////////*/

a:hover
{
    text-decoration: none;
}

.photo-links-box figure
{
    position: relative;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateX(-40px);
}

.photo-links-box figure.is-showing
{
    opacity: 1;
    transform: translateX(0px);
}

.photo-link1
{
    border-radius: 2%;
    background: url('../img/link-photo1.jpg');
    width: 100%;
    height: 250px;
    filter: blur(0.7px);
    background-size: 100% 100%;
    transition: filter 1s, box-shadow 1s, opacity 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.photo-link1:hover > span
{
    opacity: 1;
}
.photo-link1 > span
{
    transition: opacity 1s;
    opacity: 0;
    font-size: 40px;
    color: white;
}
.photo-link1:hover
{
    filter: blur(0.1px);
    box-shadow: 0px 0px 47px 6px rgba(0,0,0,0.83);
    cursor: pointer;
}

.photo-link2
{
    border-radius: 2%;
    background: url('../img/link-photo2.jpg');
    width: 100%;
    height: 250px;
    filter: blur(0.7px);
    background-size: 100% 100%;
    transition: filter 1s, box-shadow 1s, opacity 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.photo-link2:hover > span
{
    opacity: 1;
}
.photo-link2 > span
{
    transition: opacity 1s;
    opacity: 0;
    font-size: 40px;
    color: white;
}
.photo-link2:hover
{
    filter: blur(0.1px);
    box-shadow: 0px 0px 47px 6px rgba(0,0,0,0.83);
    cursor: pointer;
}

.photo-link3
{
    border-radius: 2%;
    background: url('../img/link-photo3.jpg');
    width: 100%;
    height: 250px;
    filter: blur(0.7px);
    background-size: 100% 100%;
    transition: filter 1s, box-shadow 1s, opacity 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.photo-link3:hover > span
{
    opacity: 1;
    color: white;
    text-decoration: none;

}
.photo-link3 > span
{
    transition: opacity 1s;
    opacity: 0;
    font-size: 40px;
    color: white;
    text-decoration: none;
}
.photo-link3:hover
{
    filter: blur(0.1px);
    box-shadow: 0px 0px 47px 6px rgba(0,0,0,0.83);
    cursor: pointer;
    color: white;
    text-decoration: none;
}



/*last jams css //////////////////////////////////////////////////////////////////////////////////////////////*/


.last-jams
{
    min-height: 500px;
    overflow: hidden;
}


.last-jams article
{
    position: relative;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateX(+10px);
}

.last-jams article.is-showing
{
    opacity: 1;
    transform: translateX(0px);
}

.arrow-down
{
    border: solid #cccccc 5px;
    border-radius: 50%;
    position: relative;
    color: #cccccc;
    bottom: -9%;
    font-size: 45px;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

.arrow-down:hover
{
    color: #ff3333;
    border: solid #ff3333 5px;
    cursor: pointer;
}