.notify-leave
{
    background: #8c7983;
    color: #222222;

}


.notify-like
{
    background: #76888a;
    color: #222222;

}

.notify-join
{
    background: #8f8a7a;
    color: #222222;

}

.notify-leave td a
{
	color: #CCCCCC;
}

.notify-join td a
{
	color: #CCCCCC;
}

.notify-like td a
{
	color: #CCCCCC;
}