.main-color
{
    color: #ff3333;
}

.sec-color
{
    color: #1B78B2;
}


.main-color-back
{
    background: #ff3333;
}

.sec-color-back
{
    background: #1B78B2;
}

textarea {
    resize: none;
}


button.btn-sec
{
    background: #1B78B2;
    color: white;
}

button.btn-sec:hover
{
    background: #1485CC;
    color: white;
}

a.btn-sec
{
    background: #1B78B2;
    color: white;
}

a.btn-sec:hover
{
    background: #1485CC;
    color: white;
}


button.btn-main
{
    background: #ff3333;
    color: white;
}

button.btn-main:hover
{
    background: #B21212;
    color: white;
}

a.btn-main
{
    background: #ff3333;
    color: white;
}

a.btn-main:hover
{
    background: #B21212;
    color: white;
}

*
{
    font-family: 'Play', sans-serif;
    margin: 0;
    padding: 0;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


.alert-danger
{
    margin-top: 7%;
}

.separate-border
{
    margin-bottom: 100px;
    width: 100%;
    height: 20px; 
    border-bottom: 1px solid black; 
    text-align: center
}

.text-middle
{
    font-size: 33px; 
    background-color: white; 
    padding: 0 10px;
}

.space-between
{
    margin-bottom: 100px;
}

.space-between-small
{
    margin-bottom: 50px;
}


.popover  {
    background: #660000!important;
    color: #cccccc;
}

.popover.bottom .arrow:after {
  border-bottom-color: #001933;
}




.panel-heading
{
    color: #cccccc;
    background: #660000;
}

.icon-box
{
    margin-top: 15%;
}

div.well
{
    text-align: center;
    background: white;
    border: none;
    box-shadow: none;
    height: 250px;
}

