<section class="container">
	<div class="row">
		<div class=" col-md-6 col-md-offset-3">

			<form class="form-auth" ng-submit="register()" novalidate>
				<div class="separate-border" >
					<span class="text-middle header-font">Rejestracja</span>
				</div>

				<div class="form-group">
					<input ng-model="user.username" type="text" placeholder="Email">
				</div>

				
				<div class="form-group">
					<input ng-model="user.password" type="password" placeholder="Twoje hasło">
				</div>
				
				<div class="form-group">
					<input ng-model="user.repeatPass" type="password" placeholder="Ponownie hasło">
				</div>
				
				<div ng-if="errors" class="alert alert-danger" role="alert">{{errors}}</div>
			
				<input type="submit" value="Zarejestruj" class="button btn-long button-danger"/>
				
			</form>

		</div>
	</div>
</section>

