




<div class="space-between-small"></div>


<header class="background-header jam-img">
	<h1>{{jam.title}}</h1>
</header>

<div class="space-between-small"></div>


<article class="container">
	<div class="row jamDetails">

		<div class="col-sm-7">
			<h1 class="jam-head">Informacje</h1>
			<p class="jam-text">{{jam.descr}}</p>
	
		</div>
		<div class="col-sm-4 col-md-offset-1">
			<hr>
			<p><i class="fa fa-calendar fa-1x" aria-hidden="true"></i> {{jam.date | date : 'shortTime'}}, {{jam.date | date: 'fullDate'}}</p>
			<hr>
			<p><i class="fa fa-user fa-1x" aria-hidden="true"></i> {{jam.org.username}}</p>
			<hr>
			<p><i class="fa fa-map-o fa-1x" aria-hidden="true"></i> {{jam.state}}</p>
			<hr>
			<p><i class="fa fa-location-arrow fa-1x" aria-hidden="true"></i> {{jam.location}}</p>
			<hr>
							
			<button type="button" class="btn btn-sec" data-toggle="modal" data-target="#myModal">
				<i class="fa fa-users" aria-hidden="true"></i> Lista osób {{jam.guests.length}}
			</button>

			<button ng-click="likeJam()" popover-trigger="outsideClick: outsideClick" uib-popover="{{likeError}}" class="btn btn-main"><i class="fa fa-heart" aria-hidden="true"></i> {{jam.like}}</button>
		</div>
	</div>
</article>

<div class="space-between"></div>




<section class="container jam-messages-box">
	<div class="separate-border">
		<span class="text-middle">Komentarze</span>
	</div>
	<main>
		<div class="col-md-8 col-md-offset-2">
			<form ng-submit="newMessage()" novalidate>
				<h3>Dodaj komentarz</h3>
				<br>
				
				<div class="form-group">
					<textarea placeholder="tekst komentarza" ng-model="message.text" class="form-control" rows="5" id="comment"></textarea>
				</div>
				
				<div ng-if="errors" class="alert alert-danger" role="alert">{{errors}}</div>
				

				<button type="submit" class="btn btn-sec"><i class="fa fa-comment" aria-hidden="true"></i> Dodaj</button>
			
				
			</form>
			<div class="space-between-small"></div>
		</div>

		<div ng-repeat="message in jam.messages | orderBy: '-created_at'" class="message">
		
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#/userProfile/{{message.username}}">{{message.username}}</a> | <span class="text-muted">{{message.created_at | date: 'fullDate'}} ,{{message.created_at | date : 'shortTime'}}</span>
					</div>
					<div class="panel-body">
						{{message.text}}
					</div>
				</div>
			</div>
		</div>


	</main>

</section>









<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3><i class="fa fa-users" aria-hidden="true"></i> Lista osób</h3>
      </div>
      <div class="modal-body">
      	<div class="table-responsive">
	 		<table class="table ">
				<thead>
					<tr>
						<th>Muzyk</th>
						<th class="hidden-xs">Sprzęt</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="guest in jam.guests">
						<td><a href="#/userProfile/{{guest.username}}" target="_blank">{{guest.username}}</a></td>
						<td class="hidden-xs">{{guest.role}}</td>
						<td>{{guest.status}}</td>
					</tr>
				</tbody>
			</table>     		
      	</div>


		<button ng-click="addGuestToJam()" popover-trigger="outsideClick: outsideClick" uib-popover="{{guestError}}" class="btn btn-default"><i class="fa fa-user-plus" aria-hidden="true"></i> Dodaj się</button>
		<button ng-click="guestLoseJam()" class="btn btn-default"><i class="fa fa-user-times" aria-hidden="true"></i> Wycofaj się</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-main" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>