<div class="space-between"></div>

<section class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form class="form-auth" ng-submit="login()" novalidate>
				<div class="separate-border" >
					<span class="text-middle">Logowanie</span>
				</div>

				<div class="input-group">
				  <span class="input-group-addon"><i class="fa fa-user"></i></span>
				  <input ng-model="user.username" type="username" class="form-control" placeholder="Nazwa użytkownika" aria-describedby="sizing-addon1">
				</div> 

				<br>

				<div class="input-group">
				  <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
				  <input ng-model="user.password" type="password" class="form-control" placeholder="Twoje hasło" aria-describedby="sizing-addon1">
				</div>
				
				
				<div ng-if="errors" class="alert alert-danger" role="alert">{{errors}}</div>
				<br>
				<input type="submit" value="Zaloguj" class="btn pull-right" />
			</form>
		</div>		
	</div>

</section>



