
	

<!-- <div ng-if="errors" class="container">
	<div class="space-between"></div>

	<div class="alert alert-danger" role="alert">{{errors}}</div>	
</div> -->





	
	<div class="space-between-small"></div>
	
	<header class="background-header my-profile-img">
		<h1>{{myProfileInfo.username | limitTo: limit}}</h1>
	</header>
	
	<div class="space-between-small"></div>

	<section class="container">
		<uib-tabset active="active">
			<uib-tab index="0" heading="Profil">


				

				<div class="panel">

					<div class="panel-body">
						<div class="row">
							<div class=" col-md-12 col-lg-12"> 
								<table class="table">
									<tbody>
									<tr>
										<td>Zarejestorwany od</td>
										<td>{{myProfileInfo.created_at | date: 'fullDate'}}</td>
									</tr>
									<tr>
										<td>Sprzęt</td>
										<td ng-if="!editProfile == true">{{myProfileInfo.role}}</td>
										<td ng-if="editProfile == true">
											<select  class="form-control" ng-model="myProfileInfo.role" aria-describedby="sizing-addon1">
												<option value="" disabled selected><strong>--- Wybierz sprzęt ---</strong></option>
												<option ng-repeat="role in roles" value="{{role}}">{{role}}</option>
											</select>
										</td>
									</tr>
				
									<tr>
										<td>Adres</td>
										<td ng-if="!editProfile == true">{{myProfileInfo.adress}}</td>
										<td ng-if="editProfile == true">
											<input  type="text" class="form-control" placeholder="{{myProfileInfo.adress}}" ng-autocomplete="myProfileInfo.adress" ng-model="myProfileInfo.adress" details="details1" options="options1">
										</td>
									</tr>
										<td>Telefon</td>
										<td ng-if="!editProfile == true">{{myProfileInfo.phone}}</td>
										<td ng-if="editProfile == true">
											<input  class="form-control" type="test" placeholder="{{myProfileInfo.phone}}" ng-model="myProfileInfo.phone">
										</td>
									</tr>
									</tbody>
								</table>
								<div ng-if="errors" class="alert alert-danger" role="alert">{{errors}}</div>
								<button class="btn btn-danger" ng-click="changeProfileDetails()">Zmień</button>
								<button ng-if="editProfile == true" class="btn btn-success" ng-click="updateProfile(myProfileInfo)">Zaakceptuj</button>
							</div>
						</div>
					</div>
				</div>
			</uib-tab>





			<uib-tab index="1" heading="Jamy do których dołączyłeś">
				<div ng-if="!myProfileSignJams.length" class="alert alert-danger" role="alert">Nie dołączyłeś do żadnego jamu, <a href="#/jamsList">dołącz teraz</a></div>
				<div class="row">


					<article ng-if="myProfileSignJams" ng-repeat="signJam in myProfileSignJams | orderBy: 'date'" class="col-md-4">
						<div class="well">
							<hr>
							<p>{{signJam.state}}</p>
							<a class="jam-header" href="#/jam/{{signJam._id}}">{{signJam.title}}</a>

							<p><em>{{signJam.date | date:'shortTime' }}, {{signJam.date | date:'fullDate' }}</em></p>
							<span class="label main-color-back">
								<i class="fa fa-heart" aria-hidden="true"></i>
								{{signJam.like}}
							</span>
							<span class="label sec-color-back">
								<i class="fa fa-users" aria-hidden="true"></i>
								{{signJam.guests.length}}
							</span>
						</div>
					</article>
				</div>

			</uib-tab>
			<uib-tab index="2" heading="Stworzone Jamy">
				<div ng-if="!myProfileJams.length" class="alert alert-danger" role="alert">Brak stworzonych Jamów</div>
				<div class="row">	
					<div class="col-md-12">
						<article ng-if="myProfileJams" class="well" ng-repeat="jam in myProfileJams">

							<a class="jam-header" href="#/jam/{{jam._id}}">{{jam.title}}</a>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>Użytkownik</th>
											<th class="hidden-xs">Rola</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="guest in jam.guests">
											<td>{{guest.username}}</td>
											<td class="hidden-xs">{{guest.role}}</td>
											<td>{{guest.status}}</td>
											<td>
												<select class="form-control" ng-model="newStatus" ng-change="changeGuestStatus(newStatus, guest._id, jam._id)">
													<option value="" disabled selected><strong>--- Wybierz Status ---</strong></option>
													<option  ng-repeat="status in stats" value="{{status}}">{{status}}</option>
												</select>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<button class="btn btn-main" ng-click="deleteJam(jam._id)"><i class="fa fa-trash" aria-hidden="true"></i> Usuń Jam</button>
							<a class="btn btn-sec" href="#/editJam/{{jam._id}}"><i class="fa fa-pencil" aria-hidden="true"></i> Edycja</a>

						</article>						
					</div>
				</div>

			</uib-tab>

		</uib-tabset>
	</section>
</div>
