<section class="container">

	<uib-tabset ng-if="!errors" active="activeJustified" justified="true">
		<div class="separate-border" >
			<span class="text-middle header-font">{{myProfileInfo.username}}</span>
		</div>
		<div class="space-between-small"></div>
		<uib-tab index="0" heading="BIERZESZ UDZIAŁ">

			<section class="main-jams">
				<div ng-if="!mySignJams.length" class="alert alert-danger" role="alert">Nie dołączyłeś do żadnego jamu, <a href="#/jamsList">dołącz teraz</a></div>

				<div class="row">
					<article ng-repeat="signJam in mySignJams | orderBy: 'date'" class="col-md-4 text-center">
						<hr>
						<p>{{signJam.state}}</p>
						<a class="jam-header" href="#/jam/{{signJam._id}}">{{signJam.title}}</a>

						<p><em>{{signJam.date | date:'shortTime' }}, {{signJam.date | date:'fullDate' }}</em></p>
						<span class="label like-icon">
							<i class="fa fa-heart" aria-hidden="true"></i>
							{{signJam.like}}
						</span>
						<span class="label guest-icon">
							<i class="fa fa-users" aria-hidden="true"></i>
							{{signJam.guests.length}}
						</span>
					</article>
				</div>			
			</section>



		</uib-tab>

		<uib-tab class="tab" index="1" heading="UTWORZONE JAMY">

		
			<div ng-if="!myCreatedJams.length" class="alert alert-danger" role="alert">Brak stworzonych Jamów, stwórz swój pierwszy <a href="#/addJam">tutaj</a></div>


			<article ng-repeat="myJam in myCreatedJams | orderBy: 'date'" class="col-md-12 my-jam">
				<p>{{myJam.state}}</p>
				<a class="jam-header" href="#/jam/{{myJam._id}}">{{myJam.title}}</a>

				<p><em>{{myJam.date | date:'shortTime' }}, {{myJam.date | date:'fullDate' }}</em></p>

				<hr>
				<a class="button button-info" href="#/editJam/{{myJam._id}}">edytuj <i class="fa fa-pencil" aria-hidden="true"></i></a>	
				<a class="button button-danger" ng-click="deleteJam(myJam._id)">usuń <i class="fa fa-trash" aria-hidden="true"></i></a>	
				
					
				<div class="space-between-small"></div>
				
				<h3>Lista osób</h3>

				<hr>
				
				<div class="row">
					<div ng-repeat="guest in myJam.guests" class="case col-md-4">
						<div class="case-body text-center">
							<a class="link-success" href="#/userProfile/{{guest.username}}" target="_blank">{{guest.username | shortenEmail}}</a> - {{guest.status}}
							<hr>
							<select class="form-control" ng-model="newStatus" ng-change="changeGuestStatus(newStatus, guest._id, myJam._id)">
								<option value="" disabled selected><strong>--- Zmień Status ---</strong></option>
								<option  ng-repeat="status in stats" value="{{status}}">{{status}}</option>
							</select>
						</div>
					</div>					
				</div>


				<div ng-if="!myJam.guests.length" class="alert alert-danger" role="alert">Nikt nie dołączył do tego jamu</div>
						


			</article>


		</uib-tab>
		<uib-tab class="tab" index="2" heading="USTAWIENIA PROFILU">

			<section class="my-profile">
				<div class="row">

					<div class="col-md-12">
						<div class="page-header">
							<h4 class="label-header">Zarejestrowany</h4>
							<p>{{myProfileInfo.created_at | date : 'shortTime'}}, {{myProfileInfo.created_at | date: 'fullDate'}}</p>
						</div>

						<div class="page-header">
							<h4 class="label-header">Sprzęt</h4>
							<p>{{myProfileInfo.role}}</p>

						</div>
						<div class="page-header">
							<h4 class="label-header">Adres</h4>
							<p>{{myProfileInfo.adress}}</p>

						</div>
						<div class="page-header">
							<h4 class="label-header">Telefon</h4>
							<p>{{myProfileInfo.phone}}</p>


						</div>

						
						
						<a class="button button-success" href="#/myProfileEdit"><i class="fa fa-check" aria-hidden="true"></i> Edycja</a>
					</div>	
				</div>

				
			</section>


		</uib-tab>
	</uib-tabset>				

</section>

