<header class="background-header jam-list-img min-height">
	<h1 class="text-header header-font">Lista Jamów</h1>
</header>

<div class="space-between-small"></div>

<section class="container main-jams">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="input-group">
				<input ng-model="searchText" type="search" class="form-control" placeholder="Szukaj..." aria-describedby="basic-addon2">
				<span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
			</div>
		</div>
	</div>

	<div ng-if="jams.length == 0" class="alert alert-danger" role="alert">Nikt nie dodał jeszcze Jamu, możesz być <a href="#/addJam">pierwszy</a></div>

	<div class="space-between-small"></div>

	<div class="row">
		<article ng-repeat="jam in jams |  filter: searchText" class="col-md-4 text-center">
			<hr>
			<p>{{jam.state}}</p>
			<a class="jam-header" href="#/jam/{{jam._id}}">{{jam.title}}</a>
			<p><em>{{jam.date | date:'shortTime' }}, {{jam.date | date:'fullDate' }}</em></p>
			<span class="label guest-icon">
				<i class="fa fa-users" aria-hidden="true"></i>
				{{jam.guests.length}}
			</span>
			<span class="label like-icon">
				<i class="fa fa-heart" aria-hidden="true"></i>
				{{jam.like}}
			</span>
		</article>

	</div>
	
</section>




